<ion-header>
  <ion-toolbar color="light">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a (click)="goToPageBack()">
            <img height="90" [src]="logo">
          </a>
        </ion-col>
        <ion-col>
          <ion-title color="success">
            {{nom|uppercase}}
          </ion-title>
          <ion-item>
            {{focus}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon (click)="goToPageBack()" name="arrow-round-back" slot="icon-only"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="maps_canvas">
    <!--<ion-button (click)="localiser($event)"></ion-button>-->
  </div>

</ion-content>
